<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <div style="text-align:center">
            <img src="/img/pic.png" alt="John Mathew D. Diño Photo" class="portrait">

            <h3>Created by: John Mathew D. Diño</h3>
            <h3>Course: Bachelor of Science in Information Technology (4B)</h3>

            <p>This site was created using the data from mapbox.com and weatherstack.com!</p>
            <p>This is one of the requirements for the course IT Specialization Track 4 - Advanced Web Applications (IT
                ST4) in the Bachelor of Science in Information Technology program on the 1st Semester of the Academic
                Year 2021-2022!. </p>
        </div>
    </div>
    {{>footer}}

</body>

</html>