body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* NEW  */
    background: #eaedf3;
}

.main-content{
    flex-grow: 1;
    
    
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}

header{
    margin-top:16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}
button{
    cursor: pointer;
    border: 1px solid solid black;
    background: #2e3440;
    color: white;
    padding: 8px;

}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    display: inline;

}

.nav a {
    display: inline-block;
    padding: 10px;
    color: #333333

}
.nav :active{
    font-weight: bold;

}

hr{
    color: #333333;
}
.div{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}
.margin{
    margin-bottom: 75px;
}

#message-2, #degree{
    font-size: xxx-large;
    font-weight: bold;
}

#bigmessage p{
    display: inline-block;
    vertical-align: top;
}
#icon{
    position: relative;
    margin-top: 12px;
    height: 65px;
    
}


